body{
    background-color: white;
}

#gridContainer{
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
    width: 350px;
    margin: auto;
}

#display{
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 348px;
    height: 68px;
    border: 1px solid black;
    background-color: grey;
}